$baseFontFamily: Oxygen;

$btnPrimaryBackground: blue;
$navbarBackgroundHighLight: black;
$navbarBackground: orange;

@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import 'bootstrap';

body {
	padding-top: 60px;
	color: black;
	background-color: #F5D0A9;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;	
}

.footer {
	margin-top: 50px;
	color: $grayLight;
	a {
		color: $black;
	}
}

/* Required for jQuery masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 15px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #365;
	width: 214px;
	background-color: #F7F8E0;
}

.box img {
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.descrption {
	margin: 10px 0 5px;
}